<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridginggood"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashController"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main TabHost -->
        <activity android:name=".MainController"/>
        
        <!-- Payment -->
        <activity android:name=".Payment.PaymentActivityGroup" />
        <activity android:name=".Payment.PaymentCamera" />

        <!-- Charity -->
        <activity android:name=".Charity.CharityActivityGroup" />

        <!-- Biz -->
        <activity android:name=".Biz.BizActivityGroup" />
        <activity android:name=".Biz.BizMapController" />
        <activity android:name=".Biz.BizListController" />
        <activity android:name=".Biz.BizDetailController" />

        <!-- User -->
        <activity android:name=".User.UserActivityGroup" />

        <!-- Bg -->
        <activity android:name=".Bg.BgActivityGroup" />

        <!-- Google Map -->
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />
    </application>

</manifest>