<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridginggood"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <permission
        android:name="com.bridginggood.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bridginggood.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- C2DM Receiver Activity -->
        <receiver
            android:name=".C2DMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" >
                </action>

                <category android:name="com.bridginggood" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" >
                </action>

                <category android:name="com.bridginggood" />
            </intent-filter>
        </receiver>

        <!-- Main TabHost -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TabTheme" />

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThankyouActivity"
            android:screenOrientation="portrait" />

        <!-- Charity -->
        <activity
            android:name=".Charity.CharityActivityGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Charity.CharityCurationActivity"
            android:screenOrientation="portrait" />

        <!-- Biz -->
        <activity
            android:name=".Biz.BizActivityGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Biz.BizMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Biz.BizListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Biz.BizDetailActivity"
            android:screenOrientation="portrait" />

        <!-- Profile -->
        <activity
            android:name=".User.UserActivityGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User.UserPreferencesActivity"
            android:screenOrientation="portrait" />

        <!-- Donate -->
        <activity
            android:name=".QR.QRActivityGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QR.QRMainActivity"
            android:screenOrientation="portrait" />

        <!-- Google Map -->
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />
    </application>

</manifest>